---
extends: default

rules:
  line-length:
    max: 140
    level: warning
  truthy:
    allowed-values: ["true", "false", "on"]
  comments:
    min-spaces-from-content: 1
  comments-indentation: disable
  document-start: disable
  indentation:
    spaces: 2
    indent-sequences: consistent

ignore: |
  go.sum
